@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




/* base styles */
* {
  margin: 0;
  font-family: serif;
  color: #605757;
}
.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color:antiquewhite;
}
.navbar .links {
  margin: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.nameOfPage{
  font-style: oblique;
  padding: 10px 16px;
  color:black;
  background-color: beige;
}
.cata {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:antiquewhite;
}

.catalogue1 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.catalogue1 a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
.par{
  position: relative;
      left: 380px; 
      top: 20px;
  font-style:italic;
  
}

/* img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
} */

.but {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
img {
  border-radius: 5%;

  margin-right:auto ;
  margin-left: auto;
  width: 200px;
}
img:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}
/* bestSellers.css */

/* Style for the container div */
.best-sellers {
  text-align: center; /* Center align text */
}

/* Style for the heading */
.best-sellers h1 {
  font-size: 24px;
  margin-bottom: 20px; /* Add some space below the heading */
}

/* Style for the anchor tags */
.best-sellers a {
  display: inline-block; /* Display links in a row */
  margin: 0 10px; /* Add space around the links */
  text-decoration: none; /* Remove default underline */
  color: #333; /* Link color */
}

/* Style for the images */
.best-sellers img {
  width: 200px; /* Set width for the images */
  height: auto; /* Maintain aspect ratio */
  border: 1px solid #ddd; /* Add a border for visual separation */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

